
#handlebar{
    position: absolute;
    bottom: 36rem;
    left: 25rem;
}
.handlebar-vector{
    position: absolute;
    bottom: 35.8rem;
    left: 25rem;
}
.handlebar-text{
    position: absolute;
    bottom: 46rem;
    left: 32rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
#signal-lights{
    position: absolute;
    bottom: 31rem;
    left: 22rem;
}
#ergonomic-seat{
    position: absolute;
    bottom: 27rem;
    left: 48rem;
}
#tail-ligths{
    position: absolute;
    bottom: 23rem;
    left: 58rem;
    
}
#alloy-whells{
    position: absolute;
    bottom: 9rem;
    left: 19rem;
}