
.functions p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
#handlebar{
    position: absolute;
    bottom: 36rem;
    left: 25rem;
}
.handlebar-vector{
    position: absolute;
    bottom: 35.8rem;
    left: 25rem;
}
.handlebar-text{
    position: absolute;
    bottom: 46rem;
    left: 32rem;
   
}
#signal-lights{
    position: absolute;
    bottom: 31rem;
    left: 22rem;
}
.signal-lights__vector{
    position: absolute;
    bottom: 24.7rem;
    left: 22rem;

    
}
.signal-lights__text{
    position: absolute;
    bottom: 21rem;
    left: 26.5rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
#ergonomic-seat{
    position: absolute;
    bottom: 27rem;
    left: 48rem;
}
.ergonomic-seat__vector{
    position: absolute;
    bottom: 26.9rem;
    left: 48rem;
}
.ergonomic-seat__text{
    position: absolute;
    bottom: 35rem;
    left: 58.5rem;
}
#tail-ligths{
    position: absolute;
    bottom: 23rem;
    left: 58rem;
    
}
.tail-ligths__vector{
    position: absolute;
    bottom: 9rem;
    left: 58rem;
}
.tail-ligths__text{
    position: absolute;
    bottom: 5rem;
    left: 59.5rem;
}
#alloy-whells{
    position: absolute;
    bottom: 9rem;
    left: 19rem;
}
.alloy-whells__vector{
    position: absolute;
    bottom: 6.4rem;
    left: 19rem;
}
.alloy-whells__text{
    position: absolute;
    bottom: 2.6rem;
    left: 28rem;
}