

:root{
    --logo-color: #C19932;
    --buttoms-color:  #FFC700;
    --white: #FFFFFF;
    --height-default: 6.25rem;
    --width-default: 2.8rem
}

  body{
      background-color: #222121;
      padding-left: var(--height-default);
      padding-top: var(--width-default);
      padding-right: var(--height-default);
      padding-bottom: var(--width-default);
      display: flex;
      flex-direction: column;
    }
  header{
      display: flex;
      flex-direction: row;  
      justify-content: space-between;
      font-weight: 500;
  }
  main{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      
  }
  .announce{
    align-items: center;
    padding-top: 180px;
    grid-row: 1/3;
  }
  #logo{
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    color: var(--logo-color);
  }

  #model{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 234px;
    letter-spacing: 0.04em;
  }
  .center-links{
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 500;
  }
  .center-header{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    color: var(--white);
    width: 8rem;
   
}
  #AboutUs{
    padding-left: 421px;
  }
  #Store{
      padding-left: 124px;
  }
  #Contact{
      padding-left: 134px;
  }
 
  .navigation-buttons{
      display: flex;
      flex-direction: row;
      padding-left: 491px;
      gap:102px;
  }
  .img-buttons{
    gap:102px;
    width:38px;
    height:38px;
  }
  