

:root{
    --logo-color: #C19932;
    --buttoms-color:  #FFC700;
    --white: #FFFFFF;
}

  body{
      background-color: #222121;
      padding-left: 85px;
      padding-top: 39px;
      display: grid;
    }
  header{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 39px ;
      font-weight: 500;
  }
  main{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: 
        "description product social";
      grid-template-columns: 300px 1fr 48px;
      

  }
 
  .center-links{
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 500;
  }
  .center-header{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    color: var(--white);
    width: 8rem;
   
}
  #AboutUs{
    padding-left: 421px;
  }
  #Store{
      padding-left: 124px;
  }
  #Contact{
      padding-left: 134px;
  }
 
  .navigation-buttons{
      display: flex;
      flex-direction: row;
      padding-left: 491px;
      gap:102px;
  }
  .img-buttons{
    gap:102px;
    width:38px;
    height:38px;
  }
  