
.vehicle{
    position: relative;
  
}
.vehicle__visual{
    grid-area: vehicle;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.vehicle__vectors{
    grid-area: vehicle;
    position: absolute;
    
}

.buttom img{
    position: absolute;
    transform: translate(-50%,-50%)
}

